%h1
  = @category.name
%h1 Courses
%p
  .courses
    - @category.courses.each do |course|
      %p
        .name
          Name:
          = course.name
        .description
          Description:
          = course.description
        .start-date
          Start date:
          = course.start_date
